* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.headline {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 12px 12px;
  color: white;
  background-color: black;
}

.name {
  text-align: start;
  margin-top: 40px;
}

h1 {
  font-size: 25px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 25px;
}

.section-title {
  font-size: 35px;
}

.contact-icons {
  margin-top: 30px;
}

.project-header {
  margin-top: 35px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 40px;
  margin: 5px;
}

.profile {
  width: auto;
  margin: 30px;
  height: 200px;
}

.bio-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  text-align: center;
  padding: 30px;
  margin: 30px;
}

.bio-container {
  margin: 30px auto;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 30px auto;
}

.skills ul li {
  display: inline-block;
  margin: 0 10px;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0px 12px;
  border: 2px solid white;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

.github-links {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: black;
  color: rgb(11, 11, 11);
  width: 100%;
  padding: 10px;
  color: white;
  margin-top: 40px;
}

.footer-links {
  display: flex;
}

.a-link {
  text-decoration: none;
  color: white;
  font-size: 17px;
  width: 44.3%;
  text-align: center;
  margin: 0px 12px;
}

.a-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

i {
  font-size: 30px;
  margin: 10px;
}

.icon-link {
  color: black;
}

.project {
  padding: 20px;
  flex: 1;
}

.live-site {
  margin-top: 35px;
}

img {
  width: 230px;
  height: 150px;
}

.description {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  margin: 15px auto;
}

.technologies {
  font-size: 15px;
}

.projects {
  margin: 40px auto;
}

@media (min-width: 650px) {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 30px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 40px;
  }

  p {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .name {
    margin-top: 30px;
  }

  .button {
    font-size: 12px;
  }

  i {
    font-size: 40px;
  }

  .projects {
    display: flex;
    margin: 80px 0;
    justify-content: space-around;
  }

  .projects .projects {
    flex: 1;
  }

  .section-title {
    font-size: 40px;
  }
}