*{
    margin: 0;
    padding:0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.Main-container{
    display:flex;
    flex-direction: column;
    min-height:100%;
}
.Headline{
    border:2px solid black;
    margin-bottom:10px;
    padding: 12px 12px; 
    color:white;
    background-color:black;
 
}
h1{
font-size: 40px;

}
#Bio-header{
    margin-bottom:40px;
}
.Project-header{
    margin-top:40px;
    margin-bottom:40px;
}

p{
    margin-bottom:12px;
    font-size: 20px;
    line-height: 40px;
}
#Nav-section{
    display:flex;
    justify-content: center;
    background-color:white;
    color: rgb(11, 11, 11);
}
#Bio-link{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:2px solid black;
    width:33.3%;
    flex:33.3%;
    text-align: center;
    padding: 50px;
    margin:20px;
    height:150px;
    
}
#Bio-link:hover{
    background-color:black;
    color:white;
    cursor: pointer;
    transition: 1s;
}
#Projects-link{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:2px solid black;
    width:33.3%;
    flex:33.3%;
    text-align: center;
    padding: 50px;
    margin:20px;
}
#Projects-link:hover{
    background-color:black;
    color:white;
    cursor: pointer;
    transition: 1s;
}

#Contact-link{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:2px solid black;
    width:33.3%;
    flex:33.3%;
    text-align: center;
    padding: 50px;
    margin:20px;
}
#Contact-link:hover{
    background-color:black;
    color:white;
    cursor: pointer;
    transition: 1s;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;

}
#Bio-section{
    align-items:center;
    border:2px solid black;
    width:50%;
    text-align: center;
    padding: 40px;
    margin-top:40px;
}
#Projects-section{
    border:2px solid black;
    width:50%;
    text-align: center;
    padding: 40px;
    margin:40px;
}
#Projects-cards{
    display:flex;
    flex-direction: column;
    
}
#Quiz-app{
    text-align: center;
    margin-bottom:10px;
}
.image{
    width:100%;
}
#Capstone1{
    border: 2px solid black;
    padding: 40px;
    margin-bottom:80px;
}
#Capstone2{
    border: 2px solid black;
    padding: 40px;
    margin-bottom:80px;
}
#Contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:2px solid black;
    width:50%;
    text-align: center;
    padding: 40px;
    margin:40px;
    
}
button{
   background-color:white;
   color:black;
   padding: 16px 0px;
   text-align: center;
   text-decoration: none;
   font-size: 20px;
   width:30%; 
   margin: 0px 12px; 
   margin-bottom:20px;
   border: 2px solid black;
   cursor: pointer;
}
button:hover{
    background-color:black;
    color:white;
    transition:.4s;

}
.footer{
    display:flex;
    flex:1;
    border:2px solid black;
    justify-content: center;
    background-color:black;
    color: rgb(11, 11, 11);
    width:100%;
    padding:50px;
    color:white;
    margin-top:40px;   
}
#Footer-links{
    display:flex;
    justify-content:space-between;
    width:100%;    
}
.a-link{
    text-decoration: none;
    color:white;
    font-size:20px;
    width:33.3%;
    text-align: center;
    margin:0px 12px;
}
.a-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

i{
    font-size:40px;
    margin:10px;
}
.Icon-link{
    color:black;
}
@media (max-width:900px){
#Nav-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
#Bio-link{  
    text-align: start;
    width:80%;
    
}
#Projects-link{
    text-align: start;
    width:80%;
   
}
#Contact-link{
    text-align:start; 
    width:80%;
    
}
}
@media(max-width:600px){
  #Nav-section{  
      display: flex;
      flex-direction: column;
      align-items: center;
}    

h1{
    font-size: 25px;
}
#Bio-link{  
    text-align: center;
    width:33.3%;
    margin:40px;
    padding:70px;
}

#Projects-link{
    text-align: center;
    width:33.3%;
    margin:40px;
    padding:70px;
}
#Contact-link{
    text-align: center;
    width:33.3%;
    margin:40px;
    padding:70px;
}
button{
    font-size:15px;
}
.a-link{
    font-size: 15px;
}
p{
    font-size:15px;
}
}